     
:root{
    --Purple: #663399;
    --Light-grey: #E4E9F7 ;
    --Dark-grey: #D5D6EA;
    --Plum: #e2cefa;
    --Form-background: #d5d6eaa6;
    --Input-border: #c0c0c0c0;
    --Input-backgdround:#f7f6f8;
    --Review-text-background: #fff3f3;
    --Footer-background: #bfc0cf;
    --Green: #08c011e1;
    --Red: #f10a0a;
}


  /*--------------------- header --------------------------- */
  header{
    position:relative;
    top: 0;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
}

main{
    padding:0 5px;
    margin:5px;
    display: flex;
    align-items: center;
}

main .logo{
    min-width: 60px; 
    display: flex;
    align-items: center;
  }

main .logo img{
    width: 70px;
    height: 45px;
    border-radius: 30%;
  }

main .header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6px;
    font-size: 13px;
    font-family: 'Oleo Script', cursive;
  }

main .header-text .name{
    font-weight: 900;
  }

main .header-text .profession{
    font-weight: 500;
  }

.nav-links{
    text-align: right; 
    font-family: 'Dosis', sans-serif;
}

.nav-links ul li{
display: inline-block;
list-style: none;
padding:8px 10px;
position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 15px;
    color: black
}
.nav-links ul li ::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--Purple);
    transition: 0.25s;
    margin: auto;
    display: block;
}
.nav-links ul li :hover::after{
    width: 100%;
}


 
 /*---------------------------- registration form -------------------- */



  .register{
    background:linear-gradient(rgba(5,5,5,0.8),rgba(5,5,5,0.8)), var(--Light-grey);
  }
  
  .register h1{
    text-align: center;
    color: var(--Light-grey);
    background-color: rgba(0,0,0,0.2);
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 35px;
    padding: 20px;
    border-radius: 49%;
    letter-spacing: 3px;
  }
  
  .register .form{
    text-align:center;
    padding:10px;
  }
  
  .body{
    color: black;
    display: block;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), var(--Dark-grey);
    border-radius:20%;
    width: 790px;
    margin-left: auto;
    margin-right:auto;
  }
  
  .name, .email, .phone-number,
  .sex, .course, .lecture-mode,
  .username, .password, .confirm-password,
  .submit-reset, .old-account,.payment{
    padding:7px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"]{
    border: var(--Input-border);
    outline: none;
    background: var(--Input-backgdround);
     border-radius: 25%;
  }
  
  .name input,
  .username input,
  .password input,
  .confirm-password input,
  .email input, .phone-number input,
  .payment input{
    height:10px;
    width: 35%;
    padding: 15px;
    margin-top:10px;
  }
  
  .payment .transfer,
  .payment .online{
    display:block;
  }
  
  .submit-reset .submit,
  .submit-reset .reset{
    border-radius: 4px;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 15px;
    color: #fff;
  }
  
  .submit-reset .submit{
    background-color:var(--Green);
  }
  
  .submit-reset .reset{
    background-color:var(--Red);
    margin-left:-5px;
  }
  
    .old-account h3{
  margin-bottom:10px;
    }
  
  .old-account .sign-in-btn{
    text-decoration: underline;
      color: black;
      margin-bottom: 20px;
      padding: 6px;
      font-size: 18px;
      background:transparent;
      border-radius: 10px;
  }


  
/*------------------------------ login ----------------------------------- */


.login{
    background:linear-gradient(rgba(5,5,5,0.8),rgba(5,5,5,0.8)), var(--Light-grey);
  }
  
  .login h1{
    text-align: center;
    color: var(--Light-grey);
    background-color: rgba(0,0,0,0.2);
    width: 350px;
    height: 40px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 35px;
    padding: 20px;
    border-radius: 49%;
    letter-spacing: 3px;
  }
  
  .login .login-form{
    padding:10px;
    text-align:center;
  }
  
  .login-body{
    color: black;
  display: block;
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), var(--Dark-grey);
  border-radius: 15%;
  width: 600px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 50px;
  }
  
  .login-body .email input,
  .login-body .password input  {
    height:10px;
    width: 35%;
    padding: 15px;
    margin-top:10px;
  }
  
  .continue{
    margin:30px;
  }
  
  .continue a{
    text-decoration: none;
    color: #fff;
    background-color: #08c011e1 ;
    padding: 15px 98px;
    cursor: pointer;
    border-radius: 25%;
    font-size: 20px;
    letter-spacing: 3px;
  }
  
  .rem-forgot{
    display: flex;
    justify-content: space-around;
    padding:20px;
  }
   
  .rem-forgot .forgot a{
    color: black;
  }
  
  .create-account{
    padding:10px;
  }
  
  .create-account h3{
    margin-bottom:10px;
  }
  
  .create-account a{
    color:black;
  }


  /*----------------------- footer ------------------------- */

footer{
    background-color: var(--Footer-background);
    color: var(--Purple);
  }
  
  footer .social-media{
    display: flex;
    justify-content:center ;
    padding: 15px;
    gap: 20px;
  }
  
  .social-media .face,
  .social-media .what,
  .social-media .twi,
  .social-media .ins{
    border: 3px solid var(--Purple);
    border-radius: 100%;
    padding: 9px;
  }
  
  .social-media .face:hover,
  .social-media .what:hover,
  .social-media .twi:hover,
  .social-media .ins:hover{
  color: var(--Plum);
  }
  
  .nav-links .footer-nav-links{
    display: flex;
    justify-content: center;
    padding:0;
    list-style: none;
  }
  
  .nav-links .footer-nav-links li{
    padding: 10px;
  }
  
  .nav-links .footer-nav-links li a,
  .copyright a,
  .social-media a{
    text-decoration: none;
    color: var(--Purple);
  }
  
  .nav-links .footer-nav-links li a:hover{
    text-decoration-line: none;
  }
  
  
  hr{
    border: 1px solid var(--Purple);
    margin-bottom: 4px;
  }
  
  .copyright{
    text-align: center;
    padding: 1px;
    margin-bottom: 0;
  }
  .copyright p{
    padding: 1px;
  }
  
 
  /*-------------- media query----------------- */

 
/*------------------------------- width 376 ------------------------------------- */

@media screen and (max-width: 500px){


  
footer .social-media{
  gap: 7px;
}

.social-media i{
font-size: 20px;
}


.nav-links .footer-nav-links{
  display: block;
  text-align:center;
}


.nav-links .footer-nav-links li{
  padding: 2px;
}

.nav-links .footer-nav-links li a{
  font-size: 20px;
  font-weight: bolder;
}
.copyright p{
  font-size: 25px;
}



.register{
  overflow-x:hidden;
}

.register h1{
  width: 250px;
  height: 70px;
}

.body{
width: 320px;
}

.name input,
.username input,
.password input,
.confirm-password input,
.email input, .phone-number input,
.payment input{
  width: 50%;
}

.body ::placeholder{
  font-size: 15px;
}

.login{
  overflow-x:hidden;
}

.login h1{
  width: 220px;
}

.login-body{
  width: 320px;
}

.login-body .email input,
.login-body .password input  {
  height:50px;
  width: 75%;
  padding: 15px;
  margin-top:15px;
}

.login-body ::placeholder{
  font-size: 18px;
}

.continue a{
  padding: 15px 80px;
}

.rem-forgot{
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.rem-forgot .rem,
.rem-forgot .forgot{
  margin-left: 0;
  font-size: 17px;
}
}


 /* -----------------------width 801 -------- */

 @media screen and (min-width: 501px){

  .login-body{
    width: 335px;
  }

  
    .login-body .email input,
.login-body .password input  {
  height:30px;
  width: 60%;
}

    
.register h1{
  width: 220px;
  height: 60px;
}

 }