
/* --------------media query --------------------- */



/*------------------------------- width 376 ------------------------------------- */

@media screen and (max-width: 800px){

  .sidebar{
    width: 120px;
    position: fixed; 
    padding: 8px 2px;
  }

  .header-text .name,
  .header-text .profession{
    font-size: 15px;
  }

  .sidebar .image img{
    width: 100px;
    height: 80px;
    margin-top: 20px;
  }

  .sidebar header .image-text{
    display: block;
    margin-left: 0;
  }

  header .image-text .header-text{
    margin-left: 0;
      }

  .sidebar .text{
    font-size: 15px;
  }

  .search-box i{
    margin-left: 0;
  }

  .search-box .search{
    height: 50px;
    width:70px;
  }

  .search-box input{
    height: 100%;
    width: 100%;
  }

  .navlinks i,
  .bottom-content i{
    opacity: 0;
  }

  .menu-links li{
    margin-top: 0;
    margin-left: 0;
  }
  
  .sidebar li a{
    margin-left: 0;
    text-align: left;
  }
  
  .sidebar .navlinks{
    height: 4em;
  }
  
  .sidebar .navlinks a .text,
  .bottom-content .text{
   font-size: 25px;
  }






  .content{
    margin-left: 8em;
    overflow-x: hidden;
  } 
 
  .side-image img{
   opacity:1;
  }

  .side-text{
    padding: 0;
  }
   
  .side-text p{
    font-size: 30px;
  }

  .more-text{
    font-size: 20px;
  }


  .about-text{
    display: block;
    margin-top: 20px;
    
    font-size: 20px;
    padding:7px;
  }

 

  .reasons{
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .why h2{
    font-size: 18px;
  }
  
  .reasons img{
    height: 140px;
    width: 150px;
    border-radius: 40%;
    margin-top: 20px;
  }
  
  .reasons p{
    font-size: 30px;
    margin:5px;
  }

  .founders h3{
    font-size: 20px;
    font-weight:900;
  }


  .ceo{
     display: block; 
     float: right;
    margin-left:0;
    margin-bottom: 25px;
}

.ceo img{
  height: 140px;
    width: 150px;
  border-radius: 40%;
  margin-left:0;
}

.ceo-ceo h4{
  font-size: 25px;
  padding-left: 0;
  text-align:center;
}

.ceo-ceo h5{
  font-size: 20px;
  padding-left: 0;
  text-align:center;
  margin-top: 4px;
}

.ceo-ceo p{
  font-size:25px;
}

.courses .admission{
  font-size: 30px;
}

.course-row{
  display: block;
  margin-top: 10px;
}


.course-col{
  padding: 20px;
  margin-bottom: 6%;
}

.course-col p{
  font-size: 22px;
}

.course-col h3{
  font-size: 30px;
}

.course-col .price{
  height:30px;
  width:80px;
}

.course-col .btn {
  margin: 70px;
  padding: 8px;
  font-size: 25px;
  }

  .events .upcoming-event  p,
  .events .upcoming-event h4{
    font-size: 25px;
  }

  .events .upcoming-event{
    text-align: left;
    padding: 1px;
    font-size: 20px;
  }

  

.review-text{
  display: block;
  text-align:left;
  padding:5px;
  gap:20px;
}

  .col p,
  .col h3{
    font-size: 25px;
  }
  
.contact{
  display: block;
}

.contact-us{
  padding: 0;
  font-size: 20px;
}

.keep-in-touch{
  padding: 0;
  margin-top: 20px;
} 


.keep-in-touch input{
   font-size: 12px;
}

.keep-in-touch textarea{
font-size: 25px;
padding: 5px;
height: 100px;
width: 220px;
}

.keep-in-touch input::placeholder{
  padding: 15px;
  font-size:20px;
}

.keep-in-touch .send{
  margin-left: 70px;
}


footer .social-media{
  gap: 7px;
}

.social-media i{
font-size: 20px;
}


.nav-links .footer-nav-links{
  display: block;
  text-align:center;
}


.nav-links .footer-nav-links li{
  padding: 2px;
}

.nav-links .footer-nav-links li a{
  font-size: 20px;
  font-weight: bolder;
}
.copyright p{
  font-size: 25px;
}



.register{
  overflow-x:hidden;
}

.register h1{
  width: 300px;
  height: 100px;
}

.body{
width: 320px;
}

.name input,
.username input,
.password input,
.confirm-password input,
.email input, .phone-number input,
.payment input{
  width: 50%;
}

.body ::placeholder{
  font-size: 15px;
}

.login{
  overflow-x:hidden;
}

.login h1{
  width: 220px;
}

.login-body{
  width: 320px;
}

.login-body .email input,
.login-body .password input  {
  height:50px;
  width: 75%;
  padding: 15px;
  margin-top:15px;
}

.login-body ::placeholder{
  font-size: 18px;
}

.continue a{
  padding: 15px 80px;
}

.rem-forgot{
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.rem-forgot .rem,
.rem-forgot .forgot{
  margin-left: 0;
  font-size: 17px;
}

}



 /* -----------------------width 801 -------- */

 @media screen and (min-width: 801px){

  .sidebar{
    width: 173px;
    position: fixed; 
    padding: 8px 2px;
  }

  .content{
    margin-left: 12.5em;
    overflow-x: hidden;
  } 

  .reasons img{
    height: 100px;
    width: 80px;
    padding:1px;
    border-radius: 40%;
    margin-top: 20px;
  }
  
  .reasons p{
    font-size: 20px;
    padding: 0;
  }

.ceo{
    background: #D5D6EA;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 85px;
}

   .courses .admission{
    font-size: 30px;
  }
  
  .course-row{
    display: block;
    margin-top: 10px;
  }
  
  
   .course-col{
    padding: 20px;
    margin-bottom: 5%;
  } 
  
  
  .course-col p{
    font-size: 22px;
  }
  
  .course-col h3{
    font-size: 30px;
  }
  
  .course-col .price{
    height:30px;
    width:80px;
  }
  
  .course-col .btn {
    margin: 70px;
    padding: 8px;
    font-size: 25px;
    }

    
.review{
  padding: 10px;
}

.review-text{
  padding:25px;
  gap:10px;
}

.col{
  padding: 20px 8px;
}


    .contact{
  display: block;
}
  }

