


/*------------------------------- width 376 ------------------------------------- */

@media screen and (max-width: 376px){

  .sidebar{
    width: 120px;
    position: fixed; 
    padding: 8px 2px;
  }

  .header-text .name,
  .header-text .profession{
    font-size: 15px;
  }

  .sidebar .image img{
    width: 100px;
    height: 80px;
    margin-top: 20px;
  }

  .sidebar header .image-text{
    display: block;
    margin-left: 0;
  }

  header .image-text .header-text{
    margin-left: 0;
      }

  .sidebar .text{
    font-size: 15px;
  }

  .search-box i{
    margin-left: 0;
  }

  .search-box .search{
    height: 50px;
    width:70px;
  }

  .search-box input{
    height: 100%;
    width: 100%;
  }

  .navlinks i,
  .bottom-content i{
    opacity: 0;
  }

  .menu-links li{
    margin-top: 0;
    margin-left: 0;
  }
  
  .sidebar li a{
    margin-left: 0;
    text-align: left;
  }
  
  .sidebar .navlinks{
    height:0;
  }
  
  .sidebar .navlinks a .text,
  .bottom-content .text{
   font-size: 25px;
  }






  .content{
    margin-left: 8em;
    overflow-x: hidden;
  } 
 
  .side-image img{
   opacity:0;
  }

  .side-text{
    padding: 0;
  }
   
  .side-text p{
    font-size: 30px;
  }

  .more-text{
    font-size: 20px;
  }


  .about-text{
    display: block;
    margin-top: 20px;
    
    font-size: 20px;
    padding:7px;
  }

 

  .reasons{
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .why h2{
    font-size: 18px;
  }
  
  .reasons img{
    height: 160px;
    width: 180px;
    border-radius: 40%;
    margin-top: 20px;
  }
  
  .reasons p{
    font-size: 30px;
    margin:5px;
  }

  .founders h3{
    font-size: 20px;
    font-weight:900;
  }


  .ceo{
     display: block; 
    margin-left:0;
    margin-bottom: 25px;
}

.ceo img{
  height: 95%;
  width: 100%;
  border-radius: 40%;
}

.ceo-ceo h4{
  font-size: 25px;
  padding-left: 0;
  text-align:center;
}

.ceo-ceo h5{
  font-size: 20px;
  padding-left: 0;
  text-align:center;
  margin-top: 4px;
}

.ceo-ceo p{
  font-size:25px;
}

.courses .admission{
  font-size: 30px;
}

.course-row{
  display: block;
  margin-top: 10px;
}


.course-col{
  padding: 20px;
  margin-bottom: 6%;
}

.course-col p{
  font-size: 22px;
}

.course-col h3{
  font-size: 30px;
}

.course-col .price{
  height:30px;
  width:80px;
}

.course-col .btn {
  margin: 70px;
  padding: 8px;
  font-size: 25px;
  }

  .events .upcoming-event  p,
  .events .upcoming-event h4{
    font-size: 25px;
  }

  .review-text{
    display: block;
  }

  .col p,
  .col h3{
    font-size: 25px;
  }
  
.contact{
  display: block;
}

.contact-us{
  padding: 0;
  font-size: 20px;
}

.keep-in-touch{
  padding: 0;
  margin-top: 20px;
} 


.keep-in-touch input{
   font-size: 12px;
}

.keep-in-touch textarea{
font-size: 25px;
padding: 5px;
height: 100px;
width: 220px;
}

.keep-in-touch input::placeholder{
  padding: 15px;
  font-size:20px;
}

.keep-in-touch .send{
  margin-left: 70px;
}


footer .social-media{
  gap: 7px;
}

.social-media i{
font-size: 20px;
}


.nav-links .footer-nav-links{
  display: block;
  text-align:center;
}


.nav-links .footer-nav-links li{
  padding: 2px;
}

.nav-links .footer-nav-links li a{
  font-size: 20px;
  font-weight: bolder;
}
.copyright p{
  font-size: 25px;
}



.register{
  overflow-x:hidden;
}

.register h1{
  width: 300px;
  height: 100px;
}

.body{
width: 320px;
}

.name input,
.username input,
.password input,
.confirm-password input,
.email input, .phone-number input,
.payment input{
  width: 50%;
}

.body ::placeholder{
  font-size: 15px;
}

.login{
  overflow-x:hidden;
}

.login h1{
  width: 220px;
}

.login-body{
  width: 320px;
}

.login-body .email input,
.login-body .password input  {
  height:50px;
  width: 75%;
  padding: 15px;
  margin-top:15px;
}

.login-body ::placeholder{
  font-size: 18px;
}

.continue a{
  padding: 15px 80px;
}

.rem-forgot{
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.rem-forgot .rem,
.rem-forgot .forgot{
  margin-left: 0;
  font-size: 17px;
}



}


/*------------------------------- width 415 -------------------------------------*/

@media screen and (max-width: 415px){

.sidebar{
    width: 120px;
    position: fixed; 
    padding: 8px 2px;
  }

  .header-text .name,
  .header-text .profession{
    font-size: 15px;
  }

  .sidebar .image img{
    width: 100px;
    height: 80px;
    margin-top: 20px;
  }

  .sidebar header .image-text{
    display: block;
    margin-left: 0;
  }

  header .image-text .header-text{
    margin-left: 0;
      }

  .sidebar .text{
    font-size: 15px;
  }

  .search-box i{
    margin-left: 0;
  }

  .search-box .search{
    height: 50px;
    width:70px;
  }

  .search-box input{
    height: 100%;
    width: 100%;
  }

  .navlinks i,
  .bottom-content i{
    opacity: 0;
  }

  .menu-links li{
    margin-top: 0;
    margin-left: 0;
  }
  
  .sidebar li a{
    margin-left: 0;
    text-align: left;
  }
  
  .sidebar .navlinks{
    height:0;
  }
  
  .sidebar .navlinks a .text,
  .bottom-content .text{
   font-size: 25px;
  }






  .content{
    margin-left: 8.5em;
    overflow-x: hidden;
  } 
 
  .side-image img{
   opacity:0;
  }

  .side-text{
    padding: 0;
  }
   
  .side-text p{
    font-size: 30px;
  }

  .more-text{
    font-size: 20px;
  }


  .about-text{
    display: block;
    margin-top: 20px;
    
    font-size: 20px;
    padding:7px;
  }

 

  .reasons{
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .why h2{
    font-size: 18px;
  }
  
  .reasons img{
    height: 160px;
    width: 180px;
    border-radius: 40%;
    margin-top: 20px;
  }
  
  .reasons p{
    font-size: 30px;
    margin:5px;
  }

  .founders h3{
    font-size: 20px;
    font-weight:900;
  }


  .ceo{
     display: block; 
    margin-left:0;
    margin-bottom: 25px;
}

.ceo img{
  height: 95%;
  width: 100%;
  border-radius: 40%;
}

.ceo-ceo h4{
  font-size: 25px;
  padding-left: 0;
  text-align:center;
}

.ceo-ceo h5{
  font-size: 20px;
  padding-left: 0;
  text-align:center;
  margin-top: 4px;
}

.ceo-ceo p{
  font-size:25px;
}

.courses .admission{
  font-size: 30px;
}

.course-row{
  display: block;
  margin-top: 10px;
}


.course-col{
  padding: 20px;
  margin-bottom: 6%;
}

.course-col p{
  font-size: 22px;
}

.course-col h3{
  font-size: 30px;
}

.course-col .price{
  height:30px;
  width:80px;
}

.course-col .btn {
  margin: 70px;
  padding: 8px;
  font-size: 25px;
  }

  .events .upcoming-event  p,
  .events .upcoming-event h4{
    font-size: 25px;
  }

  .review-text{
    display: block;
  }

  .col p,
  .col h3{
    font-size: 25px;
  }
  
.contact{
  display: block;
}

.contact-us{
  padding: 0;
  font-size: 20px;
}

.keep-in-touch{
  padding: 0;
  margin-top: 20px;
} 


.keep-in-touch input{
   font-size: 12px;
}

.keep-in-touch textarea{
font-size: 25px;
padding: 5px;
height: 100px;
width: 220px;
}

.keep-in-touch input::placeholder{
  padding: 15px;
  font-size:20px;
}

.keep-in-touch .send{
  margin-left: 70px;
}


footer .social-media{
  gap: 7px;
}

.social-media i{
font-size: 20px;
}


.nav-links .footer-nav-links{
  display: block;
  text-align:center;
}


.nav-links .footer-nav-links li{
  padding: 2px;
}

.nav-links .footer-nav-links li a{
  font-size: 20px;
  font-weight: bolder;
}
.copyright p{
  font-size: 25px;
}



.register{
  overflow-x:hidden;
}

.register h1{
  width: 300px;
  height: 100px;
}

.body{
width: 320px;
}

.name input,
.username input,
.password input,
.confirm-password input,
.email input, .phone-number input,
.payment input{
  width: 50%;
}

.body ::placeholder{
  font-size: 15px;
}

.login{
  overflow-x:hidden;
}

.login h1{
  width: 220px;
}

.login-body{
  width: 320px;
}

.login-body .email input,
.login-body .password input  {
  height:50px;
  width: 75%;
  padding: 15px;
  margin-top:15px;
}

.login-body ::placeholder{
  font-size: 18px;
}

.continue a{
  padding: 15px 80px;
}

.rem-forgot{
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.rem-forgot .rem,
.rem-forgot .forgot{
  margin-left: 0;
  font-size: 17px;
}


}




  /*-------------------- width 821 ------------------------- */

    @media screen and (min-width: 414px){ 


     .sidebar{
    width: 160px;
    position: fixed; 
    padding: 8px 2px;
  }

  .header-text .name,
  .header-text .profession{
    font-size: 22px;
  }

  .sidebar .image img{
    width: 100px;
    height: 80px;
    margin-top: 20px;
  }

  .sidebar header .image-text{
    display: block;
    margin-left: 0;
  }

  header .image-text .header-text{
    margin-left: 0;
      }

  .sidebar .text{
    font-size: 17px;
  }

  .search-box i{
    margin-left: 0;
  }

  .search-box .search{
    height: 50px;
    width:85px;
  }

  .search-box input{
    height: 100%;
    width: 100%;
  }

  .navlinks i,
  .bottom-content i{
    opacity: 1;
  }

  .menu-links li{
    margin-top: 10px;
    margin-left: 0;
  }
  
  .sidebar li a{
    margin-left: 0;
    text-align: left;
  }
  
  .sidebar .navlinks{
    height:50%;
  }
  
  .sidebar .navlinks a .text,
  .bottom-content .text{
   font-size: 25px;
  }



  .content{
    margin-left: 11.5em;
    overflow-x: hidden;
  } 
 
  .side-image img{
   opacity:1;
  }

  .side-text{
    padding: 0;
  }
   
  .side-text p{
    font-size: 30px;
  }

  .more-text{
    font-size: 20px;
  }


  .about-text{
    display: block;
    margin-top: 20px;
    
    font-size: 20px;
    padding:7px;
  }

 

  .reasons{
    display: flex;
    text-align: center;
    margin-top: 20px;
  }

  .why h2{
    font-size: 25px;
  }
  
  .reasons img{
    height: 100px;
    width: 80px;
    padding:10px;
    border-radius: 40%;
    margin-top: 20px;
  }
  
  .reasons p{
    font-size: 20px;
    padding: 5px;
  }

  .founders h3{
    font-size: 35px;
    font-weight:900;
  }


  .ceo{
     display:flex; 
    margin-left:0;
    margin-bottom: 75px;
}

.ceo img{
  height: 33%;
  width: 60%;
  border-radius: 40%;
}

.ceo-ceo h4{
  font-size: 25px;
  padding-left: 0;
  text-align:center;
}

.ceo-ceo h5{
  font-size: 20px;
  padding-left: 0;
  text-align:center;
  margin-top: 4px;
}

.ceo-ceo p{
  font-size:25px;
}

.courses .admission{
  font-size: 30px;
}

.course-row{
  display: block;
  margin-top: 10px;
}


 .course-col{
  padding: 20px;
  margin-bottom: 5%;
} 


.course-col p{
  font-size: 22px;
}

.course-col h3{
  font-size: 30px;
}

.course-col .price{
  height:30px;
  width:80px;
}

.course-col .btn {
  margin: 70px;
  padding: 8px;
  font-size: 25px;
  }

  .events .upcoming-event  p,
  .events .upcoming-event h4{
    font-size: 25px;
  }

  .review-text{
    display: block;
  }

  .col p,
  .col h3{
    font-size: 25px;
  }
  
.contact{
  display: block;
}

.contact-us{
  padding: 0;
  font-size: 30px;
}

.keep-in-touch{
  padding: 0;
  margin-top: 20px;
} 


.keep-in-touch input{
   font-size: 12px;
}

.keep-in-touch textarea{
font-size: 25px;
padding: 5px;
height: 100px;
width: 450px;
}

.keep-in-touch input::placeholder{
  padding: 15px;
  font-size:20px;
}

.keep-in-touch .send{
  margin-right: 70px;
  margin-left: 170px;
}


footer .social-media{
  gap: 12px;
  padding: 13px;
}

.social-media i{
font-size: 35px;
}


.nav-links .footer-nav-links{
  display: flex;
  text-align:center;
}


.nav-links .footer-nav-links li{
  padding: 6px;
}

.nav-links .footer-nav-links li a{
  font-size: 23px;
  font-weight: bolder;
}
.copyright p{
  font-size: 30px;
}



.register{
  overflow-x:hidden;
}

.register h1{
  width: 500px;
}

.body{
width: 520px;
}

.name input,
.username input,
.password input,
.confirm-password input,
.email input, .phone-number input,
.payment input{
  width: 50%;
}

.body ::placeholder{
  font-size: 23px;
}

.sex,
.course,
.lecture-mode,
.payment,
.old-account,
.old-account a{
  font-size: 30px;
}

.login{
  overflow-x:hidden;
}

.login h1{
  width: 420px;
}

.login-body{
  width: 500px;
}

.login-body .email input,
.login-body .password input  {
  height:50px;
  width: 75%;
  padding: 25px;
  margin-top:25px;
}

.login-body ::placeholder,
.create-account{
  font-size: 28px;
}

.continue a{
  padding: 15px 90px;
}

.rem-forgot{
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.rem-forgot .rem,
.rem-forgot .forgot{
  margin-left: 0;
  font-size: 30px;
}
      
      
  } 

/* --------------------width 289 ------------------------- */

  @media screen and (width: 280px){


    .sidebar{
      opacity: 0;
    }

    .content{
      margin-left:0;
    }

    .register h1{
      width: 230px;
    }

    .body,
    .login-body{
      width: 220px;
      }

.name input,
.username input,
.password input,
.confirm-password input,
.email input, .phone-number input,
.payment input{
  width: 70%;
}

.create-account{
  font-size: 20px;
}

.continue a{
  padding: 15px 20px;
}

.rem-forgot{
  display: block;
  padding:15px;
}

.rem-forgot .rem,
.rem-forgot .forgot{
  margin-left: 0;
  font-size: 20px;
}


  }


  /*----------------------- width 540 --------------------- */

  @media screen and (width: 540px){

.sidebar .navlinks{
      height: 0;
    }

.menu-links li{
      margin-top: 5px;
    }
   
.nav-links .footer-nav-links li{
  padding: 3px;
}

.nav-links .footer-nav-links li a{
  font-size: 15px;
}

.register h1{
  width: 450px;
}

.body{
width: 480px;
}


  }


  /*---------------- width 768 -------------------- */

  @media screen and (width: 768px){


    .reasons img{
      height: 100px;
      width: 80px;
      padding:5px;
      margin-top: 20px;
    }
    
    .reasons p{
      font-size: 16px;
      padding: 5px;
    }

    .ceo{
     margin-bottom: 98px;
 }

 .ceo img{
  height: 29%;
  width: 63%;
}
  }


  /*----------------- width 1024 -------------- */

  @media screen and (width: 1024px){
    .sidebar .navlinks{
      height: 0;
    }

     .menu-links li{
      margin-top: 0;
    } 
   
 .nav-links .footer-nav-links li{
  padding: 0;
} 

 .header-text .name,
  .header-text .profession{
    font-size: 13px;
  } 

.nav-links .footer-nav-links li a{
  font-size: 6px;
}

.nav-links .footer-nav-links li a{
  font-size: 33px;
  padding:10px;
}

  }

  /*---------------------- width 1280 ---------------------------- */

  @media screen and (width: 1280px){
    .sidebar .navlinks{
      height: 0;
    }

     .menu-links li{
      margin-top: 10px;
    }

    .review-text{
      display: flex;
    }
  
    .contact{
      display: flex;
    }


  }

  /*------------------------------- width 1500 ------------------------------------- */


@media screen and (max-width: 1500px){

 .sidebar{
  width: 150px;
}

.sidebar li{
  margin-top: 0;
  padding: 4px;
}

.sidebar .navlinks{
  height: 7%;
}

header .image-text .header-text{
  opacity:1;
  
}

.header-text .name,
.header-text .profession{
  font-size: 12px;
}

.sidebar .image{
  margin-left:12%;
}

.sidebar li a{
  list-style: none;
  margin-left: 10px;
  padding: 0;
  font-size: 15px;
}




.content{
  margin-left: 11em;
   overflow-x:hidden; 
} 

.about{
  margin-left: 10px;
}

.about-text{
  display: flex;
}

.ceo{
  margin-bottom: 25px;
}

.review-text{
  padding:15px;
  gap:5px;
}

.col{
  flex-basis: 30%;
  padding: 20px 8px;
}

.more-text{
  margin-left:5px;
}

.course-row{
  display: flex;
}

.course-col{
  flex-basis: 30%;
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 5%;
}

.courses,
.review,
footer{
  margin-left: 1em;
  }

.contact{
  padding: 5px;
  gap: 80px;
  display: flex;
}

.keep-in-touch .send{
  margin-right: 70px;
  margin-left: 100px;
}  

.review-text{
  display: flex;
}

.contact-us{
  font-size: 18px;
  margin-top: 14px;
}



    
} 